	<?php include("../../../config.php"); ?>
	span.text-iframe{	border-left: solid 5px #999999;color: #666666;padding: 3px 0px 3px 3px;font-size: 14px;	}

	.line-block{
		display:					-moz-inline-stack;
		display:					inline-block;
		zoom:						1;
		*display:					inline;
	}
	
	.paginacion{
		margin-right:		10px;
		line-height:		2em;
		font-size:			12px;
		font-family:		Arial, Helvetica, sans-serif;
		font-weight:		bold;
	}
	.paginacion input[type='text']{
		padding: 0px;
		border: 1px solid #000;
		font-size:	11px;
	}

	.info-change-profile{
		top:			0
		left			0;
		width:			100%;
		position:		absolute;
		font-size:		14px;
		text-align:		center;
		margin-top:		10px;
		font-weight:	bold;
		font-family:	Helvetica, sans-serif;
	}

	.checkbox-colum, .checkbox-colum.icon{
		text-align:		left;
		width:			20px;
	}
		.checkbox-colum.icon{ padding: 9px 1px !important; }
		.checkbox-colum.icon img { margin: 2px; }


	.nowrap {
		white-space:	nowrap;
	}
	.tree{
		cursor:				pointer;
		-moz-user-select: 	none;
	}
		.tree .checkbox-colum{
			padding-left: 			4px;
			text-align:				left;
			width: 					36px;
		}
		td.data-block{ border-top: 1px solid #999; }
		/*
		.line-data tr:hover td.no-hover.data-block, td.data-block{ border-top: 1px solid #999; background-color: #F9F9F9; }
		.line-data tr:hover td.no-hover.data-block .data-block, td.data-block .data-block { background-color: #F4F4F4; }
		.line-data tr:hover td.no-hover.data-block .data-block .data-block, td.data-block .data-block .data-block { background-color: #EDEDED; }
		*/
		.row-link{
			background-image: 		url("<?=RESOURCES_DOMAIN?>/img/link.png");
			background-position: 	left center;
			background-repeat: 		repeat-y;
		}
		.row-link img{
			vertical-align:			middle;
		}


	.clickable-row{
		cursor:			pointer;
	}

	.message{
		-moz-border-radius:		5px;
		-webkit-border-radius:	5px;
		border-radius:			5px;
		border-radius:			5px;
		padding:				1.3em 1.7em;
		display:				-moz-inline-stack;
		display:				inline-block;
		zoom:					1;
		*display:				inline;
	}

	.highlight{
		color:				#6a9f2c;
		font-weight:		bold;
	}

	input.highlight{
		background-color:	#EEE;
		color:				#000;
	}
	input.euro{
		background-image:	url("<?=RESOURCES_DOMAIN?>/img/famfam/stock_euro.png");
		background-repeat:	no-repeat;
		background-position:90% center;
		width:				50px !important;
	}

	.message.highlight{
		border:					1px solid #FAD42E;
		color:					#363636;
		background-color:		#fbec88;
		font-weight:			normal;
	}

	.desplegable .message{
		padding: 2px 6px;  margin: 6px; font-size: 11px;
	}

	tr.form-group{	
		font-size:		12px;
		font-weight:	bold;
		color:			black;
	}

	tr.form-group td{	
		padding-top:		10px;			
	}

	tr.form-group img{	
		vertical-align:		baseline;
	}

	.error{
		color:				#CD0A0A;
		font-weight:		bold;
	}
	.message.error{
		border:					1px solid #CD0A0A;
		color:					#CD0A0A;
		background-color:		#FEF1EC;
		font-weight:			normal;
	}



	.message.succes{
		border:					1px solid #89b84f;
		color:					#FFF;
		background-color:		#6a9f2c;
		font-weight:			bold;
	}
		.succes{
			color:				#6a9f2c;
			font-weight:		bold;
		}
		.light.succes{
			color:				#6a9f2c;
			font-weight:		normal;
		}

	.message.highlight .light{
		color:					#666666;
	}
	.colored .message.highlight{
		color:					#000;
	}

	.formato-solicitante {
		padding-bottom:5px;
	}

	.formato-solicitante img {
		vertical-align:middle;		
	}

	input[type="text"].fail, textarea.fail{
		border:					1px solid #CD0A0A;
		border-right-width:		0px;
	}
	span.fail, a.fail{
		color:					#CD0A0A;
	}


	.left-rounded{
		-moz-border-radius:		5px 0 0 5px;
		border-radius:			5px 0 0 5px;
		-webkit-border-radius:	5px 0 0 5px;
	}

	.left-bottom-rounded{
		-moz-border-radius:		0 0 0 5px;
		border-radius:			0 0 0 5px;
		-webkit-border-radius:	0 0 0 5px;
	}

	.right-bottom-rounded{
		-moz-border-radius:		0 0 5px 0;
		border-radius:			0 0 5px 0;
		-webkit-border-radius:	0 0 5px 0;
	}
	.right-top-rounded{
		-moz-border-radius:		0 5px 0 0;
		border-radius:			0 5px 0 0;
		-webkit-border-radius:	0 5px 0 0;
	}
	.left-top-rounded{
		-moz-border-radius:		5px 0 0 0;
		border-radius:			5px 0 0 0;
		-webkit-border-radius:	5px 0 0 0;
	}

	.box-title + form, .cbox-content > ul.item-list { margin-top: 10px; }
	.box-title + form .message { margin-top: -1px !important; }
	.box-title + form .message.succes, .box-title + form .message.error { margin-top: -10px !important; }
	.box-title + form.ficha { margin-top: 20px; }

	.box-title, .box-pre-title{
		min-width:				500px;
		font-size:				17px;
		line-height:			2em;
		border-bottom:			1px solid #FAD42E;
		text-indent:			10px;
		/*margin-bottom:			10px;*/
		background-color:		#FBEC88;
		font-family: "Lucida Grande",sans-serif;
	}
		.box-pre-title {
			color: red;
			font-size: 13px;
			font-weight: bold;
			margin-bottom: 0;
			text-align: center;
		}
	
		.tabs{
			margin-top:			6px;
			padding-left:		6px;
		}
		.box-tab {
			display: 			inline-block;
			*display:			inline;	
			zoom:				1;
			font-size:			12px; line-height:		12px;
			padding:			5px;
			margin-top:			-4px;
			border-color:		#FAD42E;
			border-style:		solid;
			border-width:		1px 1px 0 1px;
			text-indent:		0;
			position:			relative;
			top:				2px;
			margin-left:		-7px;
			font-family:		sans-serif, tahoma;
			-moz-user-select:	none;
			cursor:				pointer;
		}
		.box-tab:hover {
			background-color:	#FFFFFF;
		}
		.box-tab.selected, tr.box-tabs .box-tab.selected {
			background-color: #FFFFFF;
			font-weight: bold;
			line-height: 20px;
			padding: 5px 10px;
			-moz-box-shadow: 0 2px 7px -6px inset;
		}
		.box-tab img { vertical-align: middle; margin-right: 8px; }

		.box-tab .super { vertical-align: super; font-size: 8px; line-height: 5px; margin: 0 0 0 3px; color: red;  }

	.line-data tr.table-group-title.extra-line td { padding: 0px; text-indent: 1em; }
	tr.extra-line div.box-tabs { text-align: center; }
	tr.box-tabs div.box-tab { position: static; margin: 0 1em; padding: 6px 12px; border-color: #A4A4A4; border-width: 1px;font-size: 14px; border-radius:3px; background-color:#FFFFFF; }
	tr.box-tabs div.box-tab:hover span { text-decoration: underline; }
	tr.box-tabs div.box-tab.selected:hover span { text-decoration: none; }
	tr.box-tabs div.box-tab.selected { border-bottom-width: 0px; padding: 10px 12px; border-radius:0; background-image:none; background-color: #BDBDBD; }

	.cbox-close-title{
		background-image:		url(<?=RESOURCES_DOMAIN?>/img/20x20/iface/close.png);
		background-repeat:		no-repeat;
		float:					right;
		width:					20px;
		height:					20px;
		margin:					7px;
		cursor:					pointer;
	}
	.cbox-close-title:hover{
		background-position:	0 -20px;
	}
	.cbox-list-content{
		max-height:				240px;
		overflow-y:				auto;
	}
		.cbox-list-content tr.selected-row {
			font-weight:		bold;
		}
		.cbox-list-content input {
			vertical-align:		sub;
		}

	.cboxButtons{
		margin-top:				10px;
		border-top:				1px solid #CCCCCC;
		text-align:				right;
		padding:				5px;
		background-color:		#F2F2F2;
	}
	.box-pagination{
		-moz-border-radius-bottomleft:	3px;
		background-color:				#EEEEEE;
		border-color:					#CCCCCC;
		border-style:					solid;
		border-width:					0 0 1px 1px;
		float:							right;
		margin:							0px 0 0;
		padding:						8px;
	}	


	#anexar-documento .cbox-content {
		margin-top: 1em;
	}
	#anexar-documento .cbox-content table { width: 100%; table-layout: fixed; }

	#anexar-documento .cbox-content fieldset { padding: 4px 10px 8px; border-color: #CCC;background-color: #EEE; margin-bottom: 4px; }

	#anexar-documento .cbox-content fieldset>legend { font-weight: bold; background-color: #FFF; border: 1px solid #CCC; }

	#anexar-documento .cbox-content .padded { text-align: right; }

	agd-form{
		margin:					3px 1% 10px;
		font-size:				12px;
	}
	.agd-form input,	.agd-form textarea, .agd-form select, #anexar-documento textarea, #enviar-documento textarea{
		width:					99%;
		font-size:				100%;
		padding:				2px;
		font-family:			sans-serif;
		margin:					1px 0px;
	}

	#tabs-content .agd-form select { max-width: 80%; }
	.agd-form input[size], .agd-form input[type="checkbox"]{
		width:					auto;
	}
	.agd-form input[type="checkbox"]{
		margin:					4px 0px;
	}
	.form-colum-description, .form-colum-description img {
		vertical-align:		middle;
	}

	.agd-form .form-colum-description { min-width:34%; }
	.agd-form input.multiple { width: 80%; }


	input[type="text"].editable, span.editable { border: 1px solid #FFF; padding: 2px; display: inline-block; margin: 2px 0 2px; min-height: 1em; min-width: 60px; height: 1.3em; font-size: 12px; height: 16px;}
	span.editable:hover, span.editable:focus, span.editable.empty, input[type="text"].editable {
		border-color: #6d6d6d;
	}


	a.multiple + a.multiple {
		margin-left: -1px;
	}
	.multiple + .multiple span span {
		padding:	2px 10px 3px;
	}

	a.multiple {
		background: url(<?=RESOURCES_DOMAIN?>/img/bg-button.gif) repeat-x scroll 0 0 #DDDDDD;
		border: 1px solid #CCCCCC;
		padding: 2px 8px 3px;
		text-decoration: none;
	}



	.item-list{
		width:			95%;
	}
	.item-list td, ul.item-list li{
		padding:				0 4px;
		line-height:			1.4em;
		vertical-align:			middle;
		padding:				2px;
		font-size:				12px;
	}
	.item-list tr{
		border-bottom:			1px solid #EAEAEA;
	}
	.item-list tr.selected-row, .item-list tr.selected-row td {
		background-color:		#f2f4f6;
	}
	.item-list img { vertical-align: middle; }


	.highlight .item-list tr{
		border-bottom:			1px solid #FFFFFF;
	}	
	.highlight 	.item-list tr.selected-row{
		background-color:		#fff4ab;
	}



	tr.separator{
		border-top:				1px solid #777777;
	}
	.ucase{ text-transform:	capitalize;	}
	.ucfirst{ text-transform:lowercase;	}
	.ucfirst:first-letter{ text-transform:uppercase;	}

	.inline-colum .docinfo{	margin-right: 0px; }
	.inline-colum > div { line-height: 2em; }
	.inline-colum img { vertical-align: middle; }
	@media screen and (-webkit-min-device-pixel-ratio:0) { .inline-colum > div { line-height: 2.5em; } }	

	.docinfo{
		font-size:				10px;
		/*margin:				1px 1px 1px 3px;
		padding:				2px;*/
		border-radius: 	3px;
		-moz-border-radius: 	3px;
		-webkit-border-radius:	3px;
		-border-radius:			3px;
		cursor:					help;
	}

	.docinfo.anexado{
		background-color:	lightBlue;	
	}
	.docinfo.sin_anexar{
		color:				#eee;
		background-color:	#a4a4a4;	
	}
	.docinfo.caducado{
		background-color:	#f1961f;	
	}
	.docinfo.validado{
		background-color: #89b84f;
	}
	.docinfo.anulado{
		background-color:	#FF0000;
		color:				#fff;
	}


	.inline-text{
		white-space: 	nowrap;
		font-size:		10px;
		margin-right:	3px;
	}
	.inline-coma{
		font-size:		8px;
	}

		.solicitantes-cell .inline-separator{
			width:			4px;
		}

	.inline-colum img{
		vertical-align:		middle;
	}


	#cboxLoadedContent .asistente { margin-top: 10px; }
	.asistente{
		font-family:		Arial;
	}
	.asistente input["type='text'"], .asistente input["type='password'"], .ficha input["type='text'"],  .ficha input["type='password'"]{
		width:		98%;
	}
	.asistente select, .ficha select{
		width:		100%;
	}
	.asistente .message, .ficha .message{
		width:			450px;
		text-align: 	left;
	}
	.asistente td:first-child, .ficha td:first-child{
		padding-right:	5px;
	}

	.ficha { min-width: 600px; }
	.ficha ul{
		list-style:		none;
	}
	.ficha ul li{
		margin:			2px 0;
	}

	.clean-colum{
		line-height:	2em !important;
		font-size:		14px !important;
		text-align:		center !important;
		padding:			2.5em !important;
	}
	.tr-group-container > .clean-colum { padding: 0 !important; text-align:	left !important; }
	
	.resize-handler { background-image: 	url(<?=RESOURCES_DOMAIN?>/img/common/resize.png); background-position: center center; background-repeat: no-repeat; cursor: ns-resize;	}
	.tr-group-container .resize-handler { margin-top: -10px; }

	input[type="text"].datepicker, span.datepicker{
		background-image: 		url(<?=RESOURCES_DOMAIN?>/img/famfam/calendar_view_day.png);
		background-repeat: 		no-repeat;
		background-position:	center right;
		padding-right:			1.1em;
	}
	span.datepicker { padding-right: 2em; }
	#tabs-content input[type="text"].datepicker{ padding-right: 2px; }

	.message > table {
		width: 			100%;
		table-layout:	fixed; 
		overflow:		hidden;
	}

	.light{
		color:			#AAA;
		font-size:		85%;
	}
	.asistente h1{
		font-size:		14px;
	}



	.cbox-content{
		margin:			0 10px;
	}
		#cboxContent h1{
			font-size:		16px;
			margin:			5px 0px;
		}	
		#cboxContent textarea { resize:vertical; }
		.cbox-content thead td{
			font-size:		1.1em;
			font-weight:	bold;
			padding:		0.2em;
			padding-left:	0px;
		}
		.cbox-content input[type=radio]{ vertical-align: bottom; }

		#tabs-content.cbox-content { min-width: 600px }


		.hr-attach { float: right; margin-top: 12px; background-color: #ccc; padding: 2px; }	

	.icon{
		height:				16px;
		width:				16px;
		display:				-moz-inline-stack;
		display:				inline-block;
		zoom:					1;
		*display:			inline;
		vertical-align:	middle;
	}
	.accept{
		background-image:	url(<?=RESOURCES_DOMAIN?>/img/famfam/accept.png);
	}
	.delete{
		background-image:	url(<?=RESOURCES_DOMAIN?>/img/famfam/delete.png);
	}
	.zoom-in{
		background-image:	url(<?=RESOURCES_DOMAIN?>/img/famfam/zoom_in.png);
	}



	.asistente .message.template{
		width:	750px;
		margin:	0 5px;
	}



	.asignar{
		table-layout: fixed;
	}
	.asignacion-elementos{ font-family: sans-serif;	}
	.asignacion-elementos .option-title { padding: 0 0 0 15px; }
	.asignacion-elementos .hidden { padding: 10px; background-color: #EEE; }
	.asignacion-elementos #keep-visible { vertical-align: middle; }
	.asignacion-body { padding-left: 8px; }

	.nombre-cliente-asignacion{
		border-bottom: 1px solid #000000;
		font-size: 20px;
		margin-bottom: 10px;
		padding: 10px 0 5px 0;
	}
	.field-list{
		background-color:		#FFFFE0;
	}
		.field-list > div {
			overflow-x: hidden;
		}
		.field-list img {
			vertical-align: text-top;
		}
		.field-list .link, .field-list a {
			color: #000;
			text-decoration: none;
		}
		.asignar ul li.field-list-title, .field-list-title{
			text-align: center;
			font-size:	16px;
			border: 0px;
			padding: 3px 0px;
			background-color: #FAD42E;
		}
			.asignar li.highlight{
				color: #000;
				background-color: #FAD42E;
			}
			.asignar ul li.field-list-title img, .field-list-title img {
				vertical-align: baseline;
			}
			.field-list-title .btn > span, .field-list-title .btn > span > span {
				padding-top: 0px;
				padding-bottom: 0px;
			}

	ul.asignar-options li {
		padding: 2px;
	}
	ul.asignar-options li a {
		font-size:	12px;
		font-family: sans-serif, Helvetica;
	}
	ul.asignar-options label {
		text-align:	center;
	}
	.asignar ul.asignar-options li:hover{
		background-color: #FFE68E;
		border-color: #FFE68E;
	}
	.asignar ul.asignar-options li.field-list-title:hover{
		background-color:#FAD42E;
		border-color: #FAD42E;
	}
	.asignar img.item { margin: 3px; vertical-align: middle; }


	.margenize hr{
		margin:				20px 0 30px
	}
	.asignar td{
		padding:			0px;
		border:				1px solid #FAD42E;
		vertical-align:		top;
	}
		.asignar td > ul {
			/*margin: 2px;*/
		}
		.asistente .asignar td:first-child { padding: 0px; }

	.asignar th{
		padding-bottom:		4px;
		font-size:			1.1em;
		white-space:		nowrap;
	}
	.asignar th .light{
		font-size: 			9px; 
		float:				right; 		
		line-height: 		16px;
	}
	.asignar ul, .asignar ul li, li.ui-draggable-dragging{
		list-style:			none;
		text-align:			left;
		z-index:			80;
		*position:			relative;
	}
	.asignar li{
		width: 			100%;
		border:			1px solid #fff;
		margin-right:	0 2px 2px 0;
		border-left-width: 0px;
	}
	.asignar li.group, .asignar li.group:hover {
		background-color: #FFFFC1;
		border-color: #DDDD90;
		border-width: 1px 0px 1px 0px;
		margin-top: 5px;
		padding: 4px;
	}
		.asignar li.group:first-child{ margin-top: 0; border-top-width: 0px; }

	.asignar li.selected-element{
		background-color:		#dfecf9;
	}
	.asignar label, .checkall{
		cursor:					pointer;
		-moz-user-select:		none;
		-webkit-user-select:	none;
	}
		.asignar label{
			border:					1px solid transparent;
			display:				block;
		}
		.asignar li:hover{
			border:				1px solid #ccc;
			border-left-width:	0px;
		}
		.asignar li.group + li:hover, .asignar li.group + li {
			border-top-width: 0px;
		}
		.asignar label{
			margin-left:		2.3em;
			text-indent:		-2.3em;
		}
		.asignar label > div + input + input + span { padding-right: 2em; }
		.asignar li.ui-draggable-dragging{
			width:					auto;
		}
		.asignar li.ui-draggable-dragging label:hover{
			border:					1px solid transparent;
		}
		.asignar li input[type="text"] { font-size: 10px; margin-top: 3px; }


	.asignar ul{
		overflow-y:			auto;
		height: 			130px;
		overflow-x:			hidden;
	}


	.framecontainer{
		border:				1px solid #ccc;
		height:				300px;
		margin:				0px;
		background-color:	#fff;
		
	}
	.framecontainer iframe, #cboxLoadedContent .framecontainer iframe{
		width:		98%;
		margin:		1%;
		height:		97%;
	}


	.filecontainer{
		overflow:			hidden;
		position:			relative;
		visibility: 		hidden;
		vertical-align:		middle;
	}
	.filecontainer input{
		display:			none;
		opacity: 			0; 
		position: 			relative; 
	}
	#uploadline { overflow: hidden; }
	#uploadline > img { float:left; }
	#uploadline strong { margin-left:0.5em; }



	.variable-column-table td{
		padding-right:			40px;
	}
		.variable-column-table .asignar td{
			padding-right:		0px;
		}
	.variable-column-table td:last-child{
		padding-right:			0px;
	}



	div.extended{
		background-color: #FFF;
		box-shadow:0 8px 9px -4px #111111;
		border-left: 1px solid #CCC; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC;
		margin-top: 4px; 
		margin-right: -1px;
	}

	/*div.extended, .extended ul li a{ color:#FFF; }*/
	#credits a.extended, #credits a.extended:hover, #credits a.extended:visited{ color: #000; }


	.extended ul li{
		line-height:24px;
		height:24px;
		padding:0 8px;
		white-space: nowrap;
	}
	.extended ul li a{ text-decoration:none;}
	.extended ul li img { vertical-align: middle;}
	.extended ul li:first-child{ border-top-width:1px;}
	.extended ul li:hover{background:url(<?=RESOURCES_DOMAIN?>/img/common/list-selec-bg.png);}
	.extended ul li:hover a{ color:#000; }
	.extended ul li strong {color:#FFF;}


	.inline-force{
		display:			-moz-inline-stack;
		display:			inline-block;
		zoom:				1;
		vertical-align:		middle;
		*display:			inline;
		white-space:		nowrap;
		overflow:			hidden;
		line-height:		1em;
	}
	.inline-alert{
		border:				1px solid #CD0A0A;
		border-left-width:	0px;
		text-align:			center;
		font-weight:		bold;
		margin-left:		-3px;
		color:				#CD0A0A;
		background: 		-moz-linear-gradient(left center , #FFFFFF 0%, #FEF1EC 15%) repeat scroll 0 0 transparent /* firefox */
	}


	.bloque-noticias{
		border:					1px solid #ADD8E6;
		-moz-border-radius:		0px 5px 5px;
		-webkit-border-radius:	0px 5px 5px;
		border-radius:			0px 5px 5px;
		margin-bottom:			13px;
		font-family:			Helvetica;
	}
	.bloque-noticias h1{
		background-color:		#ADD8E6;
		font-size:				15px;
	}
	.bloque-noticias h1, .bloque-noticias > div, .bloque-noticias ul{
		padding:					6px;
	}
	.bloque-noticias h1 .date{
		font-size:				11px;
		float:					right;
		color:					#333;
	}

	.bloque-noticias > div h1{
		padding:				0px;
		font-size:				auto;
		border:					0px;
		background-color:		transparent;
		font-size:				auto;
	}


	.bloque-info{
		border:				1px solid #111;
		margin-right:		5px;
	}
	.bloque-info .border{
		border:				1px solid #FAD42E;
	}
	.bloque-info h1{
		background-color:	#FBEC88;
		border-bottom:		1px solid #FAD42E;
	}
	.bloque-info .bloque-body, .bloque-info h1{
		padding:			8px 12px;
	}


	/* COLORES DE ESTADO */
	.stat{
		padding:				1px;
		-moz-border-radius:		3px;
		-webkit-border-radius:	3px;
		border-radius:			3px;
		font-family:			Lucida Grande,verdana;
		font-size:				9px;
		margin-right:			3px;
	}
	.stat img{
		margin:					1px;
  }
  
	
	
	tr.stat-true > td:first-child, tr.stat-aptadocsok > td:first-child, tr.color.green > td:first-child{
		/* background-image:		url('<?=RESOURCES_DOMAIN?>/img/common/bgtr.png'); */
		/* background-repeat:		repeat-y; */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1OTYwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTk2MGMiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left, rgba(69,150,12,1) 15%, rgba(69,150,12,0) 90%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(15%,rgba(69,150,12,1)), color-stop(90%,rgba(69,150,12,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(69,150,12,1) 15%,rgba(69,150,12,0) 90%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(69,150,12,1) 15%,rgba(69,150,12,0) 90%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(69,150,12,1) 15%,rgba(69,150,12,0) 90%); /* IE10+ */
		background: linear-gradient(left, rgba(69,150,12,1) 15%,rgba(69,150,12,0) 90%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45960c', endColorstr='#0045960c',GradientType=1 ); /* IE6-8 */
		width:					30px;
	}
	tr.stat-false > td:first-child, tr.stat-aptadocsno > td:first-child, tr.color.red > td:first-child{
		/* background-image:		url('<?=RESOURCES_DOMAIN?>/img/common/bgtrfalse.png'); */
		/* background-repeat:		repeat-y; */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlMjQyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZTI0MjQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #dd2323 15%, rgba(206,36,36,0) 90%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(15%,#dd2323), color-stop(90%,rgba(206,36,36,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #dd2323 15%,rgba(206,36,36,0) 90%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #dd2323 15%,rgba(206,36,36,0) 90%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #dd2323 15%,rgba(206,36,36,0) 90%); /* IE10+ */
		background: linear-gradient(left, #dd2323 15%,rgba(206,36,36,0) 90%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2323', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-8 */

		width:					30px;
	}
	tr.color.orange > td:first-child{
		/* background-image:		url('<?=RESOURCES_DOMAIN?>/img/common/bgtrinactive.png'); */
		/* background-repeat:		repeat-y; */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjOWIyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzliMmQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  rgba(252,155,45,1) 15%, rgba(252,155,45,0) 90%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(252,155,45,1)), color-stop(100%,rgba(252,155,45,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(252,155,45,1) 15%,rgba(252,155,45,0) 90%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(252,155,45,1) 15%,rgba(252,155,45,0) 90%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(252,155,45,1) 15%,rgba(252,155,45,0) 90%); /* IE10+ */
		background: linear-gradient(left,  rgba(252,155,45,1) 15%,rgba(252,155,45,0) 90%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc9b2d', endColorstr='#00fc9b2d',GradientType=1 ); /* IE6-8 */
		width:					30px;
	}
	tr.stat-noapta > td:first-child, tr.color.black > td:first-child{
		/* background-image:		url('<?=RESOURCES_DOMAIN?>/img/common/bgtrnoapta.png'); */
		/* background-repeat:		repeat-y; */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODM4MzgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  rgba(56,56,56,1) 15%, rgba(56,56,56,0) 90%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(56,56,56,1)), color-stop(100%,rgba(56,56,56,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(56,56,56,1) 15%,rgba(56,56,56,0) 90%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(56,56,56,1) 15%,rgba(56,56,56,0) 90%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(56,56,56,1) 15%,rgba(56,56,56,0) 90%); /* IE10+ */
		background: linear-gradient(left,  rgba(56,56,56,1) 15%,rgba(56,56,56,0) 90%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#00383838',GradientType=1 ); /* IE6-8 */
		width:					30px;
	}
	tr.desplegable tr.color > td:first-child { background-position: -12px 0; }
	

	.img-picker{
		padding:	4px;
	}
	.help{
		cursor:		help;
	}
	.red{ color: red !important; }
	.red.light{ color:#ef585d !important; font-size:85%; }


	.wall{
		padding:			5px;
		background-color:	lightBlue;
		border:				1px solid #ccc;
		width:				280px;
	}
	.extend-replace{
		cursor:				pointer;
	}

	.position-colum {
		width: 4px;
	}
	.line-data tr.current .position-colum{
		background-image: url("<?=RESOURCES_DOMAIN?>/img/currentrow.png");
		background-repeat: no-repeat;
		background-position: left center;
	}
	.line-data.anexo_empresa tr td, .line-data.anexo_empleado tr td, .line-data.anexo_maquina tr td{
		font-size:		10px;
		padding-left:	1px;
		padding-top:	1px;
		padding-bottom:	1px;
	}
	.line-data.anexo_empresa .docinfo, .line-data.anexo_empleado .docinfo, .line-data.anexo_maquina .docinfo{
		font-size:		9px;
	}

	.extra-table {
		width: 100%;
	}
	tr.extra-line td{
		font-size:			10px;
		text-align:			center;
		border-bottom:		1px solid;
	}
	

	.line-data td.data-block tr.table-group-title:first-child td, .line-data tr.table-group-title:first-child td{
		border-top: 0px;
	}



	.line-data tr.table-group-title, .line-data tr.table-group-title td { height: 22px; }
	.line-data tr.table-group-title td{
		font-size:			10px;
		padding:			2px 4px;
		color:				#333;
		text-align:			left;
		border-bottom:		1px solid;
		border-top:			1px solid;
	}

	.contacto{
		margin-bottom:		8px;
	}
		.contacto legend{
			font-size: 14px;
		}
		.contacto .contact-options{
			margin-top:		-10px;
			float:			right;
			text-align:		right;
			margin-right:	3px;
		}
			.contact-options button{
				margin-bottom:	-6px;
				width:			105%;
				white-space:	nowrap;
			}
			.contact-options button span {
				width:			94%;
			}
			.contact-options button > span {
				padding:		0px;
			}


	.empresa-bloque-visual{
		padding:			4px;
		margin:				10px;
		border:				1px solid #FAD42E;
		color:				#363636;
		background-color:	#fbec88;
	}




	.calendario{
		margin:			0 0 50px 10px;
		font-family: 	sans-serif;
	}
		.calendario a{
			margin:		0px
		}
		.calendario .fc-header a { text-decoration: none; }

	.fc-day-number {
		background: url("<?=RESOURCES_DOMAIN?>/img/bg-button.gif") repeat-x scroll 75% 3% #DDDDDD;
		border-color: #CCCCCC;
		border-style: solid;
		border-width: 0 0 1px 1px;
		float: right;
		font-size: 14px;
		margin-right: 0;
		padding: 2px;
		position: relative;
		z-index: 9;
		cursor:pointer; text-decoration:underline;
	}

	.fc-state-default{ border:1px solid #ccc; background-color:transparent; }
		.fc-state-default:hover{ background-color:	#F5FFFA;}


		.fc-other-month.fc-state-default, .fc-other-month .fc-state-default:hover{ background-color:	#eaeaea; }
		.fc-other-month .fc-day-number{ font-size: 10px; color: #ccc; text-decoration:none; cursor:auto;  }

	.fc-today{ background-color:#FFFFE0; font-weight:bold;}
		.fc-today.fc-state-default:hover{ background-color:#FFFFE0;}

	.fc-header, .fc-grid > table { width: 99%; }
		.fc-header-left, .fc-header-right{	width:	15%; }
		.fc-header-right{ text-align: right; }
		.fc-header-right > table{	display:	inline;	}

	.fc-button-today, .fc-button-prev, .fc-button-next, .fc-header-title{
		border:			0;
		font-size:		14px;
		border:			1px solid #BBBBBB;
		margin:			5px 5px 5px 0;
		padding:		5px;
		background:		#DDDDDD url(<?=RESOURCES_DOMAIN?>/img/bg-button.gif) repeat-x scroll 0 0;
	}
		.fc-button-next{
			margin-right: 0px;
		}
		.fc-button-today:hover, .fc-button-prev:hover, .fc-button-next:hover{
			background-position:		0 -500px;
		}

	.calendario th{
		background:		#DDDDDD url(<?=RESOURCES_DOMAIN?>/img/bg-button.gif) repeat-x scroll 0 0;
	}
	


	.calendario tr:first-child .fc-day-number {
		position: relative;
		top: -1px;
	}

	.fc-event-title{
		width:				82%;
		display:			block;
		margin:				3px;
		padding:			2px;
		border:				1px solid #fa8f00;
		background-color:	#faebd7;
	}
	.fc-Sat,.fc-Sun{
		width: 5%;
	}






	.verticalMenu{
		border-style: solid solid none solid;
		border-color: #94AA74;
		border-size: 1px;
		border-width: 1px;
	}

	.verticalMenu ul{
		list-style-type: 	none;
		margin: 			0;
		padding: 			0;
		-moz-user-select:	none;
		-webkit-user-select:none
	}
	.verticalMenu ul ul li a{
		padding-left:		18px;
	}
	
	.verticalMenu li a{
		font:				bold 12px Verdana, Arial, Helvetica, sans-serif;
		display:			block;
		background:			transparent url(<?=RESOURCES_DOMAIN?>/img/vertical_menu.gif) 100% 0;
		height:				24px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
		padding:			4px 0 4px 10px;
		line-height:		24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
		text-decoration:	none;
	}	
	
	.verticalMenu li a:link, .verticalMenu li a:visited {
		white-space:	nowrap;
		outline-style:	none;
		color: 			#333;
		padding-right:	5px;
		font-size:		11px;
	}

	.verticalMenu li a:hover{
		color: 					#000;
		background-position:	100% -32px;
	}
	.verticalMenu li a.unselectable:hover{
		background-position: 	0 0;
		color: 					#3F68B6;
		cursor:					default;
	}
	.verticalMenu li a.selected{
		color: 					#000;
		background-position:	100% -64px;
	}



	.strong, .apply-option{
		font-weight:			bold;
	}
	.italic{
		font-style:				italic;
	}


	.middle-td{
		width:					1.2%;
	}

	.wrap-width{
		width:					100%;
	}

	.margenize{
		margin:					0.3%;
	}

	.padded{
		padding:				1%;
	}
	
	.slider{
		width:					80%;
		margin:					5px;
		margin-right:			10px;
		vertical-align:			middle;
	}
		input[type="text"].editable.slider-value, .slider-value{
			border:					0px !important;
			width:					11% !important;
			min-width:				0px;
		}

	.iframe-box{
		height:				180px;
	}


	.line-data tr td.extended-td-active{
		overflow-x: visible;
	}

	.extended-cell{
		margin-bottom:	35px;
		font-size:		10px;
	}
	div.extended-cell {
		position:		absolute;
	}

	img.extended-cell{
		margin-bottom:	0px;
	}

	.extended-cell-info{
		border:				1px solid #000;
	}
		.extended-cell-info, .extended-cell-info > div{
			-moz-border-radius:	0px 5px 5px 5px;
		}
		.extended-cell-info > div{
			padding:	4px;
			border:		3px solid lightBlue;
			font-size:	0.9em;
		}
		.extended-cell-info table{
			width:			100%;
		}
		.extended-cell-info thead td, .extended-cell-info thead th{
			font-size:		1.1em;
			padding:		0 2px;
			font-weight:	bold;
			text-align: 	left;
			line-height:	2em;
		}
		.extended-cell-info td, .line-data .extended-cell td{
			text-transform:	capitalize;
			padding-right:	10px;
			white-space:	normal;
		}


	#chat{position:	fixed;bottom:0px;right:5px;height:0px;overflow:visible;}

	.chat-window-options, .chat-window {-moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0; }
	.chat-window {
		width:				250px;
		bottom:				0px;
		margin-right:		10px;
		background-color:	#fff;
		float:				right;
		z-index: 			2;
		font-family:		sans-serif;
	}

	.chat-window textarea {	width:234px;border:1px solid #ccc;margin:3px;padding:3px;resize:none;height:40px;font-family:sans-serif;font-size:12px;}

	.chat-input-wrap, .chat-view { border-width:0 1px;border-style:solid;border-color:#999;}
	.chat-view{ height:150px;overflow-x:hidden;overflow-y:auto;}
	.chat-tools { display:none; border-bottom: 1px solid #ccc; background-color:#FBEC88; padding: 4px; }
		.chat-tools .status img { background: url(<?=RESOURCES_DOMAIN?>/img/common/gmail-chat-icons.png) no-repeat;height:18px;width:18px; background-position: -60px -80px; vertical-align:middle; }
		.chat-tools .status.on img { background-position: 0px -80px;}

	.chat-message{ border-bottom:1px solid #eee; padding: 3px;}
		.chat-message:last-child{ border-bottom-width:0px; }

		.chat-message strong{text-transform:lowercase;}
		.chat-message strong:first-letter{text-transform:uppercase;}
		.chat-message .append-text { padding-left: 10px; margin: 4px 0px; }
	.chat-window-options{border-bottom:1px solid #ccc;padding:6px; }

		.chat-user-info{font-weight:bold;}
		.chat-user-info img {float:left;margin-right: 5px;}
			.chat-user-info img, .user-presence { background: url(<?=RESOURCES_DOMAIN?>/img/common/gmail-chat-icons.png) no-repeat;height:16px;width:16px; }
			.presence-unavailable img, img.presence-unavailable{ background-position: -100px -120px; }
			.presence-alert img, img.presence-alert{ background-position: -20px 0; }
			.presence-available img, img.presence-available { background-position: -80px -120px; } 
			.chat-user-info a, .chat-user-info a:visited { color: #000; text-decoration:none; }
			.chat-user-info a:hover { text-decoration:underline; }



		.chat-window-actions img{ float:right;background: url(<?=RESOURCES_DOMAIN?>/img/common/gmail-icons.png) no-repeat; cursor:pointer; }
		.chat-window-actions .close { background-position: -40px -80px }
		.chat-window-actions .minimize { background-position: -20px -80px }
		.chat-window-actions .tools { background-position: -140px -80px; }

	.chat-window-options img { height:16px;width:16px;}





	.filter-text{
		position:			absolute;
		top : 				0;
		left : 				0;
		border:				1px solid #FAD42E;
		color:				#363636;
		background-color:	#fbec88;
		padding:			3px;
		white-space:		nowrap;
	}

	.box-autocomplete.ui-widget-content a{
		color:#000000;
		background-color:#FBEC88;
	}


	.buscador-global{
		margin-top:			15px;
		margin-bottom:		15px;
		padding-bottom:		15px;
		border-bottom:		1px solid #ccc;
		font-family:		verdana;
	}
	.buscador-global input {
		padding:			5px;
		width:				80%;
	}
	.buscador-global a {
		font-size:			14px;
		font-weight:		bold;
	}
	.buscador-global, .buscador-global input{
		font-size:			18px;
	}

	#advanced-search{
		/*display:			none;*/
		padding-top:		10px;
		margin-top:			10px;
		border-top:			1px solid #ccc;
	}
		#advanced-search > table {
			width:			95%;
			font-size:		14px;
			margin-left:	10px;
		}
		#advanced-search input {
			margin:			2px;
			font-size:		14px;
			padding:		2px;
		}

	.premium-action{
		border-bottom:		1px solid #ccc;
		padding:			10px 30px 20px;
	}


	#advanced-search-content input{
		padding:	2px;
		font-size:	14px;
	}

	#advanced-search-content select{
		margin:		3px 0;
	}






	.relation-options{
		display: inline-block;
		float:right;
		position:relative;
	}
	.single .relation-options{ left:-10px; *left: -20px; }

	.relation-options img:hover{
		-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
		-moz-box-shadow: 1px 1px 8px #000;
	}


	.fast-add{
		width:	80%;
		float:	right;
		padding:3px !important;
		background-image: url(<?=RESOURCES_DOMAIN?>/img/famfam/add.png);
		background-repeat: no-repeat;
		background-position: 99% center;
		margin-top: -7px;
	}
		.fast-add.waiting { background-image: url(<?=RESOURCES_DOMAIN?>/img/common/ajax-loader.gif);}
		.fast-add.complete, .fast-add.complete:focus { background-image: url(<?=RESOURCES_DOMAIN?>/img/famfam/accept.png); border-color: green !important;}
		.fast-add.error, .fast-add.error:focus { background-image: url(<?=RESOURCES_DOMAIN?>/img/famfam/error.png); border-color: red !important;}



	.zoom {
		-moz-box-shadow:0 0 10px #000 inset; -webkit-box-shadow:0 0 10px #000 inset; box-shadow:0 0 10px #000 inset;
		border : 1px solid #000 !important;
		position : absolute;
		z-index : 9999;
		-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius: 5px;
	}
	.zoom li { border: 0px; }

	.float { background-color: #fff; padding: 15px 10px; border-bottom: 1px solid #000; z-index: 1; 
		box-shadow:0px 18px 12px -17px #000000;-moz-box-shadow:0px 18px 12px -17px #000000;-webkit-box-shadow:1px -5px 20px #000; 1px -5px 20px #000; 
	}



	.box-message-block {
		padding: 5px 5px 5px 10px;
		border-bottom: 1px solid #D2D2D2;
		font-family: sans-serif;
	}
		.box-message-block.green {
			border-color:			1px solid #89b84f;
	/*		background-color:		#6a9f2c;*/
			-moz-box-shadow:		0px 22px 20px -20px #6A9F2C inset;
			-webkit-box-shadow:		0px 22px 20px -20px #6A9F2C inset;
			box-shadow:				0px 22px 20px -20px #6A9F2C inset;
		}

		.box-message-block:first-child{
			padding-top: 0px;
		}
		.box-message-block:last-child{
			border-bottom-width: 0px;
			padding-bottom: 0px;
		}
		.box-message-block h2 { font-size: 14px; line-height: 1.8em; }
		.box-message-block h2 img { vertical-align: text-bottom; }
		.box-message-block .form-colum-value, .right-bar .form-colum-value { padding-left: 10px; }
		.box-message-block:hover { background-color: #fffeee; }
		.form-colum-value .find-html { font-style: italic; color: #ccc; }



	.inline-options li { display: inline; margin-right: 10px; }
	.inline-options li a { padding: 2px; }
	.inline-options li a:hover { background-color: #FBEC88; }
	.inline-options img { vertical-align: text-bottom; }



	#credits{ z-index: 10; }



	.helper {
		position: absolute;
	}
	.helper > table { border:0px; border-collapse: collapse; }
	.helper td { vertical-align: top; }
	.helper-text {
		-moz-border-radius: 5px 15px 15px 15px;
		-moz-box-shadow: 3px 3px 3px #000000;
		
		border: 1px solid #000000;
		font-family: sans-serif;
		font-size: 14px;
		padding: 10px;
		background-color: lightBlue;
		background: -moz-linear-gradient(top, #ADD8E6 49%, #44C0E2 89%); /* firefox */

	}
		.helper-text p { 
			text-indent: 35px;
		}
	.helper-arrow {
		height: 64px;
		left: -1px;
		position: relative;
		top: 20px;
		width: 40px;
	}
	.helper img {
		float: left;
		left: -28px;
		position: absolute;
		top: -24px;
	}

	.helper-title {
		color: #00002B;
		font-size: 18px;
		font-weight: bold;
		padding: 0 0 12px 50px;
		text-shadow: 1px 1px 1px #FFFFFF;
	}
	.helper-cancel { text-align: right; padding-top: 5px; }
		.helper-cancel a { color: #000; font-size: 11px; }

	#sub-head { overflow-y: hidden; }
	#informacion-navegacion, #informacion-navegacion a{	font-size:11px;	padding-left: 0px;white-space: nowrap;font-family:"Lucida Grande", sans-serif; -moz-user-select:none;-webkit-user-select:	none;}
	#informacion-navegacion img { vertical-align: middle; margin-right: 5px; }
	.multiple-action img { width: 16px; height: 16px; }

	.row-papelera {
		background-image: url(<?=RESOURCES_DOMAIN?>/img/famfam/bin.png); background-repeat: no-repeat; background-position: 34px center;
	}
		.row-papelera td:first-child + td { padding-left: 20px; }
		.row-papelera a, .row-papelera .link { color: #ccc; }
		.row-papelera .stat_-1, .row-papelera .stat_0, .row-papelera .stat_1, .row-papelera .stat_2, .row-papelera .stat_3, .row-papelera .stat_4 { background-color: transparent; }


	.extra-line {
	  background-color: #FFFFE0;
	  font-family: sans-serif;
	}

	.line-data tr.file-drop { border-top: 0px; }
	.line-drop{
		background-color: #F29000;
		font-family: sans-serif;
	    font-size: 12px;
		box-shadow: 0px 6px 11px -4px #222 inset;
	}
	.line-drop img { vertical-align: inherit; margin: 0 3px; }
	.line-drop.success img { vertical-align: text-bottom; }
	.line-drop.error {
		background-color: red;
		color: #000;
	}
	.line-drop.success {
		border-top: 1px solid #EAEAEA;
		color:			#6a9f2c;
		background-color: #fff;
	}
	.line-drop.progress {
		-moz-transition: background-position 0.5s ease-out;
		-webkit-transition: background-position 0.5s ease-out;
		-o-transition: background-position 0.5s ease-out;
		transition: background-position 0.5s ease-out;
	}

	.line-drop.uploading {
		background-image: url(<?=RESOURCES_DOMAIN?>/img/big_bar_progress.png);
		background-repeat: no-repeat;
		background-position: -2200px 0;
		background-color: #D1D1D1;
		border-top: 1px solid #000;
	}


	#credits a.counter, #credits .counter, .counter {
		padding:	0px !important;
		text-decoration: none;
		background-color: #E3EBE7;
		font-weight:	bold;
		opacity:	0.8;
		-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
		color: #000 !important;
	}

	#credits a.counter:hover, a.counter:hover {
		color: red !important;
	}

	#table-container { height: 100%; }
	table.line-data, table.data, table#main-table, table#table-container {
		width: 100%;
	}


	.line-data tr:hover, .line-data tr.selected-row:hover, tr.selected{
		background-color : #DCE3E9;
	}
	.line-data tr:hover td.clean-colum, .line-data tr:hover td.no-hover{
		background-color:		#fff;
	}

	.stream .btn { font-size: 11px; }
	.stream[rel=helpdesk] td { line-height: 22px; }




	.option-title{
		font-size:			18px;
		padding:			10px 0 15px;
	}
	.option-list a{
		margin-right:		5px;
		text-decoration:	none;
	}

	.big-options { display: block; }
	.big-options tr { display: table; }

	.right-bar { float: right;  max-width: 450px; font-family: sans-serif; height: 400px; margin-top: 1px; margin-bottom: 80px;
			background-color: #fff; background-image: url(<?=RESOURCES_DOMAIN?>/img/right-bar-bg.jpg); background-repeat: repeat-x;
	}
		.right-bar h1 { padding: 10px; font-size: 14px; }
		.right-bar .padded { padding: 10px; }


	form.big table.agd-form {width:100%;}
	form.big .form-colum-separator {width:15px;}
	.sort-text{text-align:center;margin-top:40px;}


	.option-block { padding:4px;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
	.option-block:hover { cursor:pointer; }
	.option-block div { position:absolute; margin-top: 4px; padding: 4px 8px; -moz-border-radius:0 3px 3px;-webkit-border-radius:0 3px 3px;border-radius:0 3px 3px; }
	.option-block ul { font-size: 12px; text-shadow: none; color:#fff }

	
	.option-block img {
		background-image: url(<?=RESOURCES_DOMAIN?>/img/common/gmail-icons.png);
		height:8px; width:8px;
		vertical-align: middle;
	}
	.option-block.open img { background-position: -20px 0px;}

	table.spaced td { padding: 3px; }


	.vertical-step { border-bottom: 1px solid #ccc; padding: 15px; }
	.vertical-step h1 { font-size: 18px; display: inline;}
	.vertical-step input, .vertical-step select { vertical-align: middle; }
	.vertical-step .select ul { font-size: 16px; }



	.asistente-usuario { position: fixed; bottom:0px; left: 0px; height: 200px; width: 400px; overflow:hidden; border: 1px solid #000; border-width:1px 1px 0 0; background-color: #fff; 
		background-image:url(<?=RESOURCES_DOMAIN?>/img/common/loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.asistente-usuario .box-title { min-width:100%; height: 33px; }
	.asistente-usuario .cbox-content { margin:0px; padding:0px; height: 137px; background-color: #fff; overflow: auto; }
	.asistente-usuario .cboxButtons { height: 30px; padding: 0px; margin:0px; }
	.asistente-usuario .cboxButtons button { margin-top: 3px; }
	.asistente-usuario p { padding: 10px; }


	.face { border: 2px solid #FFF; box-shadow: 0px 6px 16px 0px inset; -moz-box-shadow:0px 6px 16px 0px inset; cursor:move; }
	.emp-photo { border: 2px solid #FFF; border-radius: 5px; background-color: #fff; box-shadow: 0 0 3px 0px #000;}
	.emp-photo:hover { border: 2px solid #000; border-radius: 5px; background-color: #fff; box-shadow: 0 0 5px 0px #000; }
	
	.auto-trigger{
		background:								#DDDDDD url(<?=RESOURCES_DOMAIN?>/img/bg-button.gif) repeat-x scroll 0 0;
		border-left:							1px solid #BBBBBB;
		border-right:							1px solid #AAAAAA;
		border-bottom:							1px solid #AAAAAA;
		border-top:								1px solid #BBBBBB;
		height:									1.7em;
		border-radius:							2px
	}
	.auto-trigger .btn{	padding:0px; }
	.auto-trigger input[type=checkbox]{margin-left:-7px;}
	.auto-trigger .btn span{ border-width:0px; }

	td.left-bar, td.left-col { background-image: url(<?=RESOURCES_DOMAIN?>/img/bg_right-panel.gif); background-position:center right; background-repeat: repeat-y; vertical-align:top; }


	a.noline { text-decoration: none; }

	.page-options .toggle{ padding: 3px; float:right; }
	.page-options .options{  display:none; padding: 3px; float:right; position:relative; }

	.box, .clear { clear:both; }
	.box .title{ line-height:21px; padding: 3px; }
	.box .content.loading { background-image:url(<?=RESOURCES_DOMAIN?>/img/common/loader.gif); background-repeat: no-repeat; background-position: center center;}

	.box .select.open, .data-layer-group .select.open { position:absolute; right: 12px; margin-top: -0.8em; }
	.box .select.open { right: 4px; }
	.data-layer-group { overflow-x: hidden;  min-height: 110px; }
	
	.log-entry { padding: 8px; border-top: 1px solid #D1D1D1; }
		.log-entry > img { vertical-align: middle; }
	.log-entry:first-child { border-top: 0px; }
		.log-text, .log-user { display: inline-block; }
		.log-user { float:right; }

	.elemento-status-bar{
		box-shadow: 2px 2px 5px #999;
		color:#FFF;
		text-shadow: 1px 1px 1px #333;
		font-size: 12px;
		font-weight:bold;		
		padding : 8px;
		text-align: center;
	}
	.elemento-status-green{ background-color:#89B84F; }
	.elemento-status-red, .elemento-status-{ background-color:#BA3B3B; }
	.elemento-status-orange{ background-color:#D88A02; }

	.asignacion-elementos .float { padding: 0 0 10px 0; width: 100%; }
	.asignacion-elementos .elemento-status-bar { margin-bottom: 10px; }


