.stat_0, .stat_0:visited { background-color:#ccc; color: #000000; }
.stat_1, .stat_1:visited { background-color:#add8e6; color: #000000; }
.stat_2, .stat_2:visited { background-color:#89b84f; color: #000000; }
.stat_3, .stat_3:visited { background-color:#f1961f; color: #000000; }
.stat_4, .stat_4:visited { background-color:#e83838; color: #000000; }
.stat_-1,.stat_-1:visited{ background-color:#FFFF00; color: #000000; }
