.cssform .recordarme{
	float: left;
}
form .enviar{
	float: right;
}
#usuario, input.password, .input-like{
	-moz-background-clip:					border;
	-moz-background-inline-policy:			continuous;
	-moz-background-origin:					padding;
	background:								#FBFBFB none repeat scroll 0 0;
	border:									1px solid #E5E5E5;
	font-size:								24px;
	margin-bottom:							16px;
	margin-right:							6px;
	margin-top:								2px;
	padding:								3px !important;
	width:									97%;
	color:									#555555;
    overflow:                               hidden;
    text-overflow:                          ellipsis;
    white-space:                            nowrap;
}
#container{
	width: 									400px;
	margin: 								-120px auto 0;
	-moz-background-clip:					border;
	-moz-background-inline-policy:			continuous;
	-moz-background-origin:					padding;
	-moz-border-radius:						11px;
	-webkit-border-radius:					11px;
	border-radius:							11px;
	-moz-box-shadow:						0 4px 18px #C8C8C8;
	background:								#FFFFFF none repeat scroll 0 0;
	border:									1px solid #111;
	padding:								16px 16px 20px;
	color:									#333333;
	font-weight:							normal;
}
	#container .message{
		width: 				88%;
	}

#cut{
	background-image:						url("../../img/login/mainbg.gif");
	height:									145px;
}
	#cut .logo img, #cut .logocliente img{
		height:				100%;
	}
	#cut .logo{
		float:				left;
	}
	#cut .logocliente{
		float:				right;
	}

	#cut .lmargin1{
		display:						none;
		-moz-box-shadow:			0px 0 7px #222;
		height:						78%;
		margin:						15px;
		border:						1px solid transparent;
		background-color:			#fff;
		-moz-border-radius:		6px;
		-webkit-border-radius:	6px;
		border-radius:				6px;
	}

#main{
	font-size:				13px;
	width:					900px;
	margin: 					-78px auto 0;
	border:					1px solid #ccc;
	-moz-border-radius:	0 0 10px 10px;
	border-width:			0px 1px 1px 1px;		
}
	#main #main-body{
		margin:			110px 20px 20px;
	}

#mini-menu{
	font-size:		11px;
	text-align:		right; 
	margin-top:		30px;
}


.google-iframe{
	border: 		1px solid transparent;
}
.google-iframe body{
	margin-top:		100px;
}


.strength-indicator
{
	width: 0px;
	height: 20px;	
	left: 400px;
	top: 2px;
	padding: 8px 8px 8px 16px;
	margin-left:-15px;	
}
.strength-indicator
{
	line-height: 18px;
}
.meter
{
	display: block;
	width: 160px;
	height: 14px;
	background-color: Gray;
	background: #424042; /* Old browsers */
	background: -moz-linear-gradient(left, #424042 0%, #f2f2f2 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#424042), color-stop(99%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424042', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, #424042 0%,#f2f2f2 99%); /* W3C */
	font-size: 12px;
	padding: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-bottom: 15px;
}
.strong
{
	background-color: Green;
	background: #0CE63F; /* Old browsers */
	background: -moz-linear-gradient(left, #0CE63F 0%, #218400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0CE63F), color-stop(100%,#218400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0CE63F 0%,#218400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0CE63F 0%,#218400 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, #0CE63F 0%,#218400 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0CE63F', endColorstr='#218400',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, #0CE63F 0%,#218400 100%); /* W3C */
}
.medium
{
	background-color: orange;
	background: #52F483; /* Old browsers */
	background: -moz-linear-gradient(left, #52F483 0%, #42C469 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#42C469)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #52F483 0%,#42C469 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #52F483 0%,#42C469 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, #52F483 0%,#42C469 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52F483', endColorstr='#42C469',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, #52F483 0%,#42C469 100%); /* W3C */
}
.week
{
	background-color: yellow;
	background: #ffff00; /* Old browsers */
	background: -moz-linear-gradient(left, #ffff00 0%, #fc1d00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#fc1d00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#fc1d00',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* W3C */
}
.no-match
{
	color: #FF7B78 !important;
}
.form-container
{
	width: 600px;
	padding: 4px;
	position: relative;
}
.form-container p
{
	margin: 0;
	padding: 0;
	margin-top: 8px;
}

.form-container p input[type=password]
{
	-moz-background-clip:					border;
	-moz-background-inline-policy:			continuous;
	-moz-background-origin:					padding;
	background:								#FBFBFB none repeat scroll 0 0;
	border:									2px solid #E5E5E5;
	font-size:								24px;
	margin-bottom:							1px;
	margin-right:							6px;
	margin-top:								2px;
	padding:								3px !important;
	width:									97%;
	color:									#555555;
}
.form-container .info
{
	display: block;
	color: Gray;
	margin-left: 134px;
}
